.breadcrumb {

    .home+.breadcrumb-item-sec:before {
        padding: 8px;
        color: black;
        content: "\203A";
    }

    .home {
        color: black;
        text-decoration: none;

        i {
            margin-right: 5px;
        }
    }

    .breadcrumb-item-main, .breadcrumb-item-sec {
        font-family: var(--font-Poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-regular);
        display: inline;
        font-size: 18px;
        letter-spacing: 1px;
        text-decoration: none;
    }

    .breadcrumb-item-main:hover {
        transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
        transform: translateY(-3px);
    }


    .breadcrumb-item-sec {
        color: $color-theme;
    }
}
