.model-item-body{
    background-color: var(--color-gray-1);
    height: 210px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s;
}

.featured-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}

.model-item-menu, .featured-menu{
    list-style: none;
    z-index: 2;
    position: absolute;
    right: -39px;
    top: 5%;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}

.model-item-img {
    max-height: 100%;
    transform: translate(-50%, 0);
    margin-left: 50%;
}

.model-item-body:hover .model-item-menu, .category-grid-body:hover .model-item-menu{
    right: 12px;
}

.model-item-menu li{   
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0px 0px 4px 3px rgb(0 0 0 / 34%);
    padding: 3px 9px;
    margin-bottom: 1rem;
}

.model-item-menu li button{
    color: black;
    font-size: 12px;
    border: none;
    background-color: transparent;
    padding: 0;
}   

    .model-item-menu li:hover{
        color: white;
        background-color: #23262A;
    }

    .model-item-menu li:hover i{
        color: white;
    }


.model-item-btn{
    color: white;
    font-family: var(--font-Poppins);
    font-weight: var(--font-weight-regular);
    background-color: var(--color-theme);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;

    width: 100%;
    padding: .7rem 0;
    list-style: none;
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all .2s ease-in-out;
} 

    .model-item-body:hover .model-item-btn, .category-grid-body:hover .model-item-btn {
        opacity: 1; 
        color: white
    }

    .model-item-info h4{
        font-size: 13px;
        font-weight: var(--font-weight-regular);
        color: #616365;
        margin: 10px 0;
    }

    .model-item-info h3{
        font-size: 20px;
        font-weight: var(--font-weight-semi-bold);
        color: #23262A;
        margin-top: 10px;
    }

    .model-item-info p{
        font-size: 18px;
        font-weight: var(--font-weight-semi-bold);
        color: #23262A;
        margin-top: 10px;
    }

        .model-item-info i{
            color: var(--color-theme);
        }

@media screen and (max-width: 768px) {

    .model-item-btn {
        opacity: 1;
    }

    .model-item-menu {
        opacity: 1;
        right: 12px;
    }
}